fastapi
uvicorn

#for database
sqlalchemy         
psycopg2
alembic

#environment variables
python-dotenv

#for email validation
pydantic[email]

#password hashing
passlib[bcrypt]

#jwt
python-jose
fastapi-jwt-auth

#for accessing form data
python-multipart

#testing
pytest
requests